<!DOCTYPE html>
<html lang="en" th:fragment="dynamic(main)">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <title>java6 admin</title>
    <style>
      li{
        color: black;
        width: 200px;
        height: 20px;
        background-color: rgb(213, 180, 243);
        border: 1px solid rgb(65, 31, 99);
      }
      th{
        border: 1px solid rgb(65, 31, 99);

      }
      th{
        border: 1px solid rgb(65, 31, 99);

      }
    </style>
</head>
<body class="container" ng-app="adapp" ng-controller="adctrl">
    <ul style="display: flex;">
        <li><a href="http://localhost:8080/product/list">home</a></li>
        <li><a href="#!product">product</a></li>
        <li><a href="/ql">manager</a></li>
        <li><a href="/order/li">list order</a></li>
        <li><a href="/">home</a></li>
    </ul>
    <table>
        <thead>
            <tr>
                <th></th>
                <th ng-repeat="role in roles">{{role.name}}

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="acc in accs">
                <td>{{acc.fullname}}</td>
                <th ng-repeat="role in roles">
                    <input type="checkbox" ng-checked="au_of(acc,role)" ng-click="autho(acc,role)" name="" id="">
                </th>


            </tr>
        </tbody>
       
    
    </table>
    <div ng-view></div>
<header class="row"></header>


<script language="javascript">
var app = angular.module("adapp", ["ngRoute"]);

app.controller("adctrl",function($scope,$http){
    $scope.roles=[];
    

    // $http.get("http://localhost:8080/rest/role").then(resp=>{
    //     $scope.roles=resp.data;
    //     console.log(ro)
       
    //   });

      $http.get("http://localhost:8080/rest/autho").then(resp=>{
        $scope.authos=resp.data;
       
      });

      $http.get("http://localhost:8080/rest/acc").then(resp=>{
        $scope.accs=resp.data;
       
      });


    alert("quan ly hang hoa")
    $scope.items=[];
    $scope.form={};
    $scope.cates=[];
    $scope.initialize=function(){
      $http.get("http://localhost:8080/rest/products").then(resp=>{
        $scope.items=resp.data;
        $scope.items.forEach(item=>{
       
          item.createDate = new Date(item.createDate)
          console.log(item)
        })
      });
      $http.get("http://localhost:8080/rest/cates").then(resp=>{
        $scope.cates=resp.data;
       
        
      });

      $http.get("http://localhost:8080/rest/role").then(resp=>{
        $scope.roles=resp.data;
        
       
      });



    }
    $scope.initialize();

    $scope.reset=function(){
    


    }

    $scope.au_of=function(acc,role){
        if($scope.authos){
        return $scope.authos.find(ur=>ur.account.username==acc.username && ur.role.id==role.id)
     }



    }

    $scope.delete=function(item){
    
      $http.delete(`http://localhost:8080/rest/products/${item.id}`).then(resp=>{
        var index=$scope.items.findIndex(p=>p.id==item.id);
        $scope.items.splice(index,1);
        alert("xoa thanh cong")
        console.log(resp.data)
       
        
      });

}

    $scope.create=function(){
      alert("create")
      var item = angular.copy($scope.form);
      $http.post("http://localhost:8080/rest/products",item).then(resp=>{

        resp.createDate = new Date(resp.data.createDate)
        $scope.items.push(resp.data);
        alert("them thanh cong")
        console.log(resp.data)
       
        
      });

}

$scope.autho=function(acc,role){
  var autho = $scope.au_of(acc,role);
  if(autho){
    $scope.re_au(autho);
  }else{
    autho={account:acc,role:role};
    $scope.ga_au(autho);
  }
     

}

$scope.re_au=function(autho){
    $http.delete(`http://localhost:8080/rest/autho/${autho.id}`).then(
        resp=>{
            var index = $scope.authos.findIndex(a=>a.id==autho.id);
            alert("thu hoi thanh cong")
        }
    )
}
$scope.ga_au=function(autho){
    $http.post(`http://localhost:8080/rest/autho`,autho).then(
        resp=>{
            
            alert("cap quyen thanh cong")
        }
    )
}

$scope.imagechange=function(files){
  var data = new FormData();
  data.append('file',files[0])
  $http.post(`http://localhost:8080/rest/up/images`,data,{
    transformRequest: angular.identity,
    headers:{'Content-Type':undefined}
  }).then(resp=>{
    $scope.form.image = resp.data.name;

  }).catch(error=>{
    alert("up hinh loi")
    console.log("loi la",error)
  })

}


})
</script>


</body>
</html>