<!DOCTYPE html>
<html lang="en" th:replace="~{/layout/index::dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>
    <table>
        <tr>
            <th>

            </th>
        </tr>
        <tr th:each="order,state:${orders}">

            <td>[[${state.index}]]</td>

            <td>[[${order.id}]]</td>
          
<td><button th:href="@{|/order/detail/=${order.id}|}"><a th:href="@{|/order/detail/${order.id}|}">chi tiet</a></button></td>



        </tr>
    </table>

</main>
</body>
</html>