<!DOCTYPE html>
<html lang="en" th:replace="~{/layout/index::dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <table>
            <tr>
                <th>

                </th>
            </tr>
            <tr th:each="order,state:${orders}">
                <img style="width: 30px;height: 30px;" class="hinh" th:src="@{|/images/${state.image}|}" alt="">
              <td>[[${state.index}]]</td>
              <td>[[${state.id}]]</td>




            </tr>
        </table>
       
    </main>
</body>
</html>